.login-container{
    box-sizing: border-box;
    background-image:  linear-gradient(#051423, #15457b);
    /* height: 35rem; */
    width: 100vw;
    display: flex;
    justify-content: center;
}
.login-form{
    box-sizing: border-box;
    width: 75rem;
    /* height: 30rem; */
    border-radius: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 7px 0 rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form>h1{
    height: 40px;
    width: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: purple;
    border-radius: 50%;
}
.login-form>h2{
    color: purple;
    font-family: cursive;
}
.login-form input{
    width: 20rem;
    height: 2.5rem;
    margin: 1rem;
    padding-left: 10px;
    box-sizing: border-box;
    outline: none;
    border: 1px rgba(116, 116, 116, 0.774) solid;
    border-radius: 0.5rem;
    font-family: cursive;
}

.login-form input:hover{
    background-color: rgb(235, 235, 235);
}
.login-form input:focus{
    border: 2px rgba(0, 204, 255, 0.774) solid;
}

.login-form #submit{
    width: 20rem;
    height: 2.5rem;
    box-sizing: border-box;
    margin: 1rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    padding-left: 10px;
    background-color: rgb(175, 0, 175);
    color: white;
    font-size: larger;
    font-weight: 600;
    font-family: cursive;
    cursor: pointer;
}
.login-form #submit:hover{
    background-color: rgb(136, 0, 136);
    color: rgb(192, 192, 192);
}
.login-form #submit:active{
    background-color: rgb(175, 0, 175);
    color: white;
    font-size: large;
}
.login-form a{
    color: blueviolet;
}
.login-form a:hover{
    color: rgb(92, 28, 151);
}
.login-form a:active{
    color: blueviolet;
}